.jumbotron {
    background-image: url('img/gbr2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 50px;
    color : #eaeaea;
    overflow: hidden;
}

.jumbotron img {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.portfolio .card {
    opacity: 0;
    transform: translate(0, -50px);
    transition: .5s;
}

.portfolio .card.muncul {
    opacity: 1;
    transform: translate(0.0);
}

.pKiri, .pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul, .pKanan.pMuncul {
    opacity: 1;
    transform: translate(0,0);
}